extends layout

block content
    input(type='hidden', id='companyID', name="companyID", value=company._id)
    div(style="margin:5px;")
        span(class="label label-success" style="margin-right:10px;") CompanyName
        a(href='http://google.com/search?q=#{company.companyName}' target='_blank') #{company.companyName}
    div(style="margin:5px;")
        span(class="label label-success" style="margin-right:10px;") Industry
        input(type='text', id='companyindustry' name='companyindustry', value=company.industry)
    div(style="margin:5px;")
        span(class="label label-success" style="margin-right:10px;") In State?
        input(type="checkbox", id='inState' name="inState", checked=company.inState===true)
    div(style="margin:5px;")
        span(class="label label-success" style="margin-right:10px;") SummaryAmount
        input(type='text', id='summaryAmount', name='summaryAmount', value=company.summaryAmount)
    div(style="margin:5px;")
        input(type='button', value='Save', data-transition='fade', data-theme='c', onclick='saveCompany();')
    div(style="margin:5px;" id="results")
    div
        table
            each line in company.lines
                tr
                    td= line.transdate
                    td= line.type
                    td= line.totalAmount
                    td= line.lineAmount
                    td= line.vendorName
                    td= line.invoice
                    td= line.agency
                    td= line.desc
    script.
        function saveCompany() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    document.getElementById("results").innerHTML = xhttp.responseText;
                }
            };
            var formCompanID = document.getElementById("companyID").value;
            var formIndustry = document.getElementById('companyindustry').value;
            var formInstate = document.getElementById('inState').checked;

            xhttp.open("GET", "../company/saveCompany?companyID=" + formCompanID + "&industry=" + formIndustry + "&inState=" + formInstate, true);
            xhttp.send();
        }